<div class="panel panel-primary">
    <div class="panel-heading" align="center">
      {{pageTitle}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <label class="col-md-2" for="searchName">Name</label>
          <input class="col-md-2 form-control" id="searchName" type="text" [(ngModel)]='nameFilter' placeholder="Name"/>
        </div>
        <div class="col-md-3">
            <label class="col-md-2" for="searchcategory">Category</label>
            <select class="col-md-2 form-control" id="searchcategory" [(ngModel)]="categoryFilter">
                 <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style='margin-top: 50px' *ngIf="nameFilter || categoryFilter">
          <h3>Search Results:</h3>
        </div>
      </div>
      <div class="table-responsive" style='margin-top: 20px; margin-left: 5%;'>
        <table class="table" *ngIf="students && students.length">
          <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Date of Birth</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of students | nameFilterPipe : nameFilter | categoryFilterPipe : categoryFilter">
            <td>{{student.name}} <i *ngIf="student.category === 'International' " class="fa fa-plane" aria-hidden="true"></i></td>
            <td>{{student.category}}</td>
            <td>{{student.dateOfBirth}}</td>
            <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" style="margin-left:0px"
                          title="View" data-target="#exampleModal" (click)="onViewClick(student)"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" style="margin-left:0px"
                        title="Edit" data-target="#exampleModal" (click)="onEditClick(student)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </td>
              <td>
                  <button type="button" class="btn btn-danger" data-toggle="modal" style="margin-left:0px"
                          title="Delete" data-target="#exampleModal" (click)="onDeleteClick(student)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </td>
          
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="renderViewDialog">
        <app-view-student [student]="selectedStudent" (emitter)="alterViewDialog()"></app-view-student>
    </div>
    <div *ngIf="renderEditDialog">
      <app-edit-student [student]="selectedStudent" (emitter)="alterEditDialog()"></app-edit-student>
    </div>
    <div *ngIf="renderDeleteDialog">
        <app-delete-student [student]="selectedStudent" (emitter)="alterDeleteDialog()"></app-delete-student>
      </div>
  </div>
  
  