.main{
    margin:50px 15px;
  }
  
  .form-group{
    margin-bottom: 15px;
  }
  
  label{
    margin-top: 10px;
  }
  
  input{
    font-size: 12px;
    padding-top: 3px;
  }
  
  .form-control {
    height: auto!important;
    padding: 8px 12px !important;
  }
  
  .input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  }
  
  .main-center{
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#70b4cf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  }
  
  span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
  }
    
  .ng-invalid:not(form){
    border-right: 5px solid red;
  }
  