<div>
  <!-- nav -->
  <nav class="navbar navbar-inverse" *ngIf="currentUser">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Student Onboard</a>
            </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
              <li><a class="nav-item nav-link" routerLink="/studentList">Student List</a></li>
              <li><a class="nav-item nav-link" routerLink="/">Register</a></li>          
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
            </ul>
        </div>  
      </div>
  </nav>
  <!-- main app container -->
  <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>
</div>