<div id="container">
  <div class="bgimg-1">
    <div class="caption">
      <span class="border">Welcome to Onboard!</span>
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:60px 80px;">
    <h3 style="text-align:center;">Admin Panel</h3>
    <p></p>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="font-size:25px;color: #f7f7f7;">
        Navigate to Student List for list of Students
      </span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;font-size: 20px;text-align:center;padding:50px 80px;">
      <p>List the details of every student and an option to edit them</p>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="font-size:25px;color: #f7f7f7;">
        Navigate to Register to add a new Student
      </span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;font-size: 20px;text-align:center;padding:30px 80px;">
      <p>Fill in few details and you are good to go</p>
      <p>Created by: Tushar Kumar</p>
    </div>
  </div>

</div>
